.section-product {
    margin-top: 190px;

    padding-top: 50px;
    padding-bottom: 120px;

    // flex-wrap: wrap;
    img {
        width: 50%;
        object-fit: contain;
        padding: 40px;
    }

    &__title {}

    &__mobile-title {
        display: none;
    }

}

.product {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 52px;
        margin-bottom: 15px;

        span {
            font-weight: 900;
            color: var(--primary);
        }

        letter-spacing: 7px;
        line-height:  55px;
    }

    &__subtitle {
        margin: 25px 0 35px 0;
        font-size: 22px;
        line-height: 30px;
    }

    &__description {
        width: 50%;
        padding-left: 40px;
        line-height: 24px;
    }

    &__text {
        text-align: justify;
        font-weight: 300;
        font-style: italic;
    }

    &__price {
        font-size: 20px;
        color: var(--primary);
        font-style: italic;
        margin: 40px 0;
    }

    &__button {
        background: #000;
        color: #fff;
        padding: 1.5rem 2rem;
        text-transform: uppercase;

        &:hover {
            background: rgba(0, 0, 0, .07) !important;
            transition: all .3s;
            color: #000;
        }
    }

}
.section-galery {
    padding-top: 50px;
    margin-bottom: 150px;
}

.galery{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    img{
        object-fit: none;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
    }
    img:nth-child(1){
        width: 25%;
    }
    img:nth-child(2){
        width: 55%;
    }
    img:nth-child(3){
        width: 20%;
    }


}