:root{

    --container-width: 1200px;

    --font-main: "Roboto", sans-serif;  
    // 'Manrope', sans-serif;

    --page-bg: #fafafa;
    --accent: #ac182c;
	--primary: #1882d8;
	--link-color: #000;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}